<div class="sidebar" >
 <ul class="sidebar__list">
  <div class="close-btn" (click)="onClose()"></div>
  <li class="sidebar__item">
    <a
      class="sidebar__link sidebar__link--inactive"
      routerLink="/home"
      (click)="onClose()"
      routerLinkActive="navbar__link--active"
      [routerLinkActiveOptions]="{ exact: true }">
        Home
    </a>
  </li>
  <li class="sidebar__item" >
    <a
      class="sidebar__link
      sidebar__link--inactive"
      routerLink="/about"
      (click)="onClose()"
      routerLinkActive="sidebar__link--active">
      About
    </a>
  </li>
  <li class="sidebar__item">
    <a
      class="sidebar__link
      sidebar__link--inactive"
      routerLink="/products"
      (click)="onClose()"
      routerLinkActive="navbar-item__link--active">
      Products
    </a>
  </li>
  <li class="sidebar__item">
    <a
      class="sidebar__link
      sidebar__link--inactive"
      routerLink="/orders"
      (click)="onClose()"
      routerLinkActive="navbar-item__link--active"
      >Orders</a>
  </li>
  <li class="sidebar__item">
    <a
      class="sidebar__link
      sidebar__link--inactive"
      routerLink="/checkout"
      (click)="onClose()"
      routerLinkActive="sidebar__link--active">
      Checkout
    </a>
  </li>
  <li class="sidebar__item">
    <a
      class="sidebar__link
      sidebar__link--inactive"
      routerLink="/cart"
      (click)="onClose()"
      routerLinkActive="sidebar__link--active">
      Cart
    </a>
  </li>
  <li class="sidebar__item">
    <a
      (click)="onLogin()"
      class="sidebar__link
      sidebar__link--inactive"
      >
      Login
    </a>
  </li>
</ul>
</div>
