.sidebar {
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(192, 192, 192, 0.1);
  z-index: 10000;
  overflow: hidden;

  &__list {
    background-color: var(--bg-secondary);
    padding: var(--sm-spacing);
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    .close-btn {
      position: absolute;
      top: 1%;
      right: 2%;
      height: 3rem;
      width: 3rem;
      background-color: transparent;
      border: none;
      &::after,
      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--color-primary);
        top: 50%;
        right: 0;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__item {
    list-style: none;
    margin: var(--2xs-spacing);
    border-radius: 1rem;
    padding: var(--2xs-spacing);
    &:active,
    &:hover {
      color: var(--color-primary);
    }
  }
  &__link {
    font-size: var(--text-3xl);
    &:link,
    &:active,
    &:visited {
      color: var(--text-main);
    }

    &--inactive{
      //background-color: var(--bg-secondary);
     /*  padding: 1.5rem 2rem;
      border-radius: var(--radius-strong); */
    }
    &--active{
      background-color: var(--color-tints);
    }
  }

}
