@import '../../../../../../themes/styles/mixins';

.summary-item {
  display: flex;
  width: 100%;
  margin-bottom: var(--sm-spacing);;
  &__product {
    flex: .7;
  }
  &__figure {
      display: flex;
      margin: 0;
      padding: 0;
      gap:  var(--sm-spacing);
      img {
        height: 10rem;
        width: 16rem;
        border-radius: var(--radius-lg);
        @include respond(phone) {
          height: 10rem;
          width: 12rem;
        }
      }
  }
  &__name{
    font-size: var(--text-2xl);
  }
  &__price-qnt {
    flex: .3;
    display: flex;
    justify-content: space-between;
    gap: var(--md-spacing);
    dl{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--sm-spacing);
      font-size: var(--text-2xl);
    }

    span, dd {
      font-size: var(--text-lg);
    }
  }
}
