<div class="summary-item">
  <div class="summary-item__product">
    <figure class="summary-item__product--figure">
      <img src="https://images.unsplash.com/photo-1459802071246-377c0346da93?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3BsYXNofGVufDB8fDB8fHww" alt="Product-img">
      <figcaption class="summary-item__product--name">
        Product Name
      </figcaption>
    </figure>
  </div>
  <div class="summary-item__price-qnt">
      <div class="summary-item__price-qnt--quantity">
        <div>
          QUT
        </div>
        <div>
          1
        </div>
    </div>
    <div class="summary-item__price-qnt--price">
      <div>
        $ 100.00
      </div>
    </div>
  </div>
</div>
