<div class="orders">
  <div class="orders__container">
    <section class="orders-content">
      <div class="orders-content__header">
        <h1 class="heading-primary">Your orders</h1>
      </div>
      <div class="orders-content__list">
        <div class="orders-nb" >
          <h2 class="heading-secondary">TotalOrders: 3</h2>
        </div>
        <header class="list-header">
          <div class="list-header__items">
           <span> {{ headerItems[0] }} </span>
          </div>
          <div class="list-header__qty">
            <span>{{ headerItems[1] }}</span>
          </div>
          <div class="list-header__unit-price">
            <span>{{ headerItems[2] }}</span>
          </div>
          <div class="list-header__amount">
           <span> {{ headerItems[3] }}</span>
          </div>
          <div class="list-header__date">
            <span> {{ headerItems[4] }}</span>
          </div>
        </header>
        <div
          *ngFor="let order of ordersList; let index = index">
            <app-orders-item [orderItem]="order.items[0]"></app-orders-item>
        </div>
      </div>
  </section>

  </div>
</div>
