<main class="orders">
  <section class="orders__header">
    <h3>Your orders</h3>
  </section>
  <ion-list class="orders__list">
    <ion-list-header class="orders__list--orders-nb" >
      <ion-label>TotalOrders: 3</ion-label>
    </ion-list-header>
    <ion-item class="orders__list--orders-fields" >
       <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of headerItems; let index = index">
            <ion-icon *ngIf="index === 0" color="danger" name="list-circle" size="large"></ion-icon>
            {{ index === 0 ? '' : item }}
          </ion-col>
        </ion-row>
      </ion-grid>
     </ion-item>
    <ion-item
      class="orders__list--orders-item"
      [button]="true" lines="none"
      *ngFor="let item of ordersList; let index = index">
       <ion-grid>
        <ion-row>
          <ion-col>
             image
          </ion-col>
          <ion-col>
            name
          </ion-col>
          <ion-col>
            quantity
          </ion-col>
          <ion-col>
            price
          </ion-col>
          <ion-col>
            date
          </ion-col>
        </ion-row>
      </ion-grid>
     </ion-item>
  </ion-list>
</main>
