@import '../../../themes/styles/mixins';

.orders {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__container{
    padding-top: 10rem;
    .orders-content {
      @include page-layout();

      &__list {
        background-color: transparent;
        .list-header {
          display: flex;
          gap: 2rem;
          text-transform: uppercase;
          border-bottom: 2px solid var(--color-primary);
          border-top: 2px solid var(--color-primary);
          padding: .4rem 0;
          &__items {
            flex: 1;
          }
          &__qty,&__unit-price,&__amount,&__date {
            width: 10rem;
            text-align: right;
          }
        }
      }
    }
  }
}
