@import '../../../themes/styles/mixins';

.orders {
  display: flex;
  flex-direction: column;
  &__container{
    padding-top: 14rem;
  }

  &__content {
    @include page-layout();
  }

  &__list {
    background-color: transparent;
  }

  &__nb {
    font-size: var(--text-2xl);
    margin-bottom: var(--md-spacing);
  }

  &__item {
   margin-top: 4rem;
   &:hover {
    cursor: pointer;
   }
  }

  &__place-holder {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}
