<div class="orders">
  <div class="orders__container">
    <section class="orders-content">
      <div class="orders-content__header">
        <h3>Your orders</h3>
      </div>
      <div class="orders-content__list">
        <div class="orders-nb" >
          <h6>TotalOrders: 3</h6>
        </div>
        <header class="list-header">
          <div class="list-header__items">
            {{ headerItems[0] }}
          </div>
          <div class="list-header__qty">
            {{ headerItems[1] }}
          </div>
          <div class="list-header__unit-price">
            {{ headerItems[2] }}
          </div>
          <div class="list-header__amount">
            {{ headerItems[3] }}
          </div>
          <div class="list-header__date">
            {{ headerItems[4] }}
          </div>
        </header>
        <div
          *ngFor="let order of ordersList; let index = index">
            <app-orders-item [orderItem]="order.items[0]"></app-orders-item>
        </div>
      </div>
  </section>

  </div>
</div>
