:root {
  // Grey ====
  --grey-1:	#333333;
  --grey-2:	#4D4D4D;
  --grey-3:	#666666;
  --grey-4: #808080;
  --grey-5: #e6e6e6;

 // === Brand Colors ===
  --color-primary: #0E766E;
  --color-primary-tints: #cfe4e2;
  --color-danger:  #eb7769;
  --color-danger-tints: #ffb199;

  // === Background Colors ===
  --bg-main: #FFFFFF;             // main content background
  --bg-secondary: #FAF9F7;

  /* === Text Colors === */
  --text-main: var(--grey-2);            // default body text
  --text-secondary: var(--grey-);       // subheadings, labels
  --text-muted: var(--grey-5);           // placeholders, meta
}
