@mixin page-layout() {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: var(--bg-secondary);
  width: 80%;
  min-height: calc(100vh - 18rem);
  padding: 4rem;
  margin: auto;
}
