.auth {
  height: 100%;
  padding: var(--x-l-spacing);
  &__header {
    text-align: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    .form {
      width: 60%;
      margin: auto;
      flex: .6;

      display: flex;
      align-items: center;
    }

    .btns {
      flex: .4;
      margin: auto;
      display: flex;
      flex-direction: column;
      width: 30%;
      gap: var(--sm-spacing);
    }
  }
}
