<section class="auth">
  <h1 class="auth__header heading-primary"> {{getCurrentAuthType}}</h1>
  <div class="auth__content">
    <div class="form">
      <app-auth-form [authType]="authType()"></app-auth-form>
    </div>
    <div class="btns">
      <button class="btn btn__primary btn__primary--full" type="button" [disabled]="!validForm()" (click)="onSubmit()">{{ getCurrentAuthType }}</button>
      <button class="btn btn__primary btn__primary--full" (click)="onGuest()">Guest user</button>
      <button class="btn btn__primary btn__primary--outline" (click)="onSwitch()" fill="outline">Switch to {{ switchTo }}</button>
    </div>
  </div>
</section>
