.order-total{
  &__definition-list{
    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--md-spacing);
      font-size: var(--text-2xl);
    }
    dd {
      font-size: var(--text-lg);
    }
  }
  &__btn {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: var(--color-primary);
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s ease;
    &:hover{
      transform: scale(1.01);
      cursor: pointer;
    }
    &:active {
      transform: scale(.8);
    }
  }
}
