@import '../../../../../themes/styles/mixins';

.orders-item {
  display: flex;
  gap: var(--x-l-spacing);
  @include respond(tab-port) {
   flex-direction: column;
   box-shadow: var(--box-shadow-light-small);
   border-radius: 1rem;
  }

  &__details {
    flex: .5;
    display: flex;

  }
  &__figure {
    display: flex;
    gap: var(--x-l-spacing);
    @include respond(tab-port) {
      width: 100%;
    }
  }
  &__figure-img {
    width: 16rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 1rem;
    @include respond(tab-port) {
      height: 24rem;
      flex: 1;
    }
    @include respond(phone) {
      height: 16rem;
      flex: 1;
    }
  }
  &__figure-caption {
    flex: 1;
    width: 100%;
    @include respond(tab-port) {
      padding: 2rem 2rem 0 0;
    }
    dl {
      display: none;
      margin-bottom: var(--xs-spacing);
      font-size: var(--text-base);
      div {
        display: flex;
        gap: var(--xs-spacing);
        margin-bottom: var(--xs-spacing);
      }
    }
     @include respond(tab-port) {
      dl {
        display: inline;
      }
      p {
        display: none;
      }
    }
  }
  &__title {
    margin-bottom: var(--sm-spacing);
    font-size: var(--text-xl);
  }
  &__description {
    font-size: var(--text-base);
    color: #042321;
  }

  &__metadata {
    display: flex;
    flex: .5;
    @include respond(tab-port) {
      display: none;
    }
    div {
      flex: 1;
      text-align: right;
      font-size: var(--text-base);
    }
  }

}

