@import '../../../themes/styles/mixins';

.home {
  &__container {
    padding-top: 14rem;
    .home-content {
      @include page-layout();

      @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        gap: var(--2x-l-spacing);
      }
      &__intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: var(--x-l-spacing);
        min-height:  calc(100vh - 14rem);

        .description-text {
          p {
            font-size: var(--text-2xl);
            line-height: 1.5;
            margin-bottom: var(--l-spacing);
          }
        }

        .description-hero {
          max-width: 100%;
          border-radius: 1rem;
        }
        @include respond(tab-port) {
          grid-template-columns: 1fr;
          min-height: 0;
          gap: var(--2x-l-spacing);
        }
      }
    }
  }
}
