<div class="home">
 <div class="home__container">
  <div class="home-content">
    <section class="home-content__intro">
      <div class="description-text">
        <h1 class="heading-primary">We are're changing the way people shop.</h1>
        <p >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Eius aspernatur, velit minus magni saepe doloribus similique unde ratione voluptatum culpa
          amet cumque at sapiente aliquam recusandae dolorem explicabo reprehenderit autem.
        </p>
        <a routerLink="/products" class="btn btn__primary btn__primary--full">Our products</a>
      </div>
      <img  loading="lazy" class="description-hero" src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZnVybml0dXJlfGVufDB8fDB8fHww" alt="home" />
    </section>
    <section class="home-content__featured-products">
      <h2 class="heading-secondary">Featured products</h2>
      <div class="featured-content">
        <figure class="featured-content__figure">
          <img src="https://images.unsplash.com/photo-1604578762246-41134e37f9cc?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZGluaW5nJTIwdGFibGV8ZW58MHx8MHx8fDA%3D" alt="featured product" />
          <figcaption class="figure-caption">
            <p class="figure-caption__name">Dining Table</p>
            <p class="figure-caption__price">$99.99</p>
          </figcaption>
        </figure>
        <figure class="featured-content__figure">
              <img src="https://images.unsplash.com/photo-1621177555630-b861919c864f?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGxhbXB8ZW58MHx8MHx8fDA%3D" alt="featured product" />
          <figcaption class="figure-caption">
            <p class="figure-caption__name">Bed Lamp</p>
            <p class="figure-caption__price">$99.99</p>
          </figcaption>
        </figure>

        <figure class="featured-content__figure">
          <img src="https://images.unsplash.com/photo-1731777090422-414983f02827?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjU0fHxmdXJuaXR1cmUlMjBiZWR8ZW58MHx8MHx8fDA%3D" alt="featured product" />
          <figcaption class="figure-caption">
            <p class="figure-caption__name">Bed</p>
            <p class="figure-caption__price">$99.99</p>
          </figcaption>
        </figure>
      </div>
    </section>
  </div>
 </div>
</div>
