<main class="single-product">
  <section class="single-product__figure">
    <figure>
      <img alt="single product" src="https://images.unsplash.com/photo-1537726235470-8504e3beef77?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTMwfHxkaW5pbmclMjB0YWJsZXxlbnwwfHwwfHx8MA%3D%3D">
    </figure>
  </section>
  <section class="single-product__description">
    <div class="single-product__description--title">
      <p>Dining table</p>
      <p> {{ 28779 | currency }} </p>
    </div>
    <div class="single-product__description--content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Molestiae doloremque cumque voluptatem nemo quidem asperiores
      sapiente voluptatibus similique tenetur dolores magni, dignissimos eligendi quibusdam
      aliquid blanditiis, recusandae dolor quas atque!
    </div>
    <div class="single-product__description--colors">colors</div>
    <div class="single-product__description--amount">
      <p>amount</p>
     <ion-item>
    <ion-select label="Quantity" labelPlacement="stacked" interface="popover" value="apple" >
      <ion-select-option value="apple">Apple</ion-select-option>
      <ion-select-option value="banana">Banana</ion-select-option>
      <ion-select-option value="orange">Orange</ion-select-option>
    </ion-select>
  </ion-item>
    </div>
    <div class="single-product__description--btn">
      <ion-button>add to basket</ion-button>
    </div>
  </section>
</main>
