@import '../../../../../themes/styles/mixins';

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--x-l-spacing);
  min-height:  calc(100vh - 14rem);
  &__description{
    p {
      font-size: var(--text-2xl);
      line-height: 1.5;
      margin-bottom: var(--l-spacing);
    }
  }

  &__hero {
    max-width: 100%;
    border-radius: 1rem;
  }
  @include respond(tab-port) {
    grid-template-columns: 1fr;
    min-height: 0;
    gap: var(--2x-l-spacing);
  }
}
