@import '../../../themes/styles/mixins';

.about {
  &__container {
    padding-top: 14rem;

    .about-content {
      @include page-layout();
      display: flex;
      gap: 4rem;
      justify-content: center;
      align-items: center;
      @include respond(tab-port) {
        gap: var(--2x-l-spacing);
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
      }
      &__text {
        flex: .4;
        @include respond(tab-port) {
          flex: unset;
        }
        p {
          line-height: 1.5;
          margin-bottom: var(--l-spacing);
        }
      }
      &__hero {
        flex: .6;
        img {
          border-radius: 2rem;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
