<div class="about">
    <div class="about__container">
        <div class="about-content">
           <section  class="about-content__text" >
              <h1 class="heading-primary">About Housori</h1>
              <div class="text-intro">
                <p>Welcome to our application! We are dedicated to providing the best service possible. <br>
                Our team is committed to ensuring customer satisfaction and delivering high-quality products. <br>
                Thank you for choosing us!</p>
              </div>
              <div class="text-sub-intro">
                <a  routerLink="/products" class="btn btn__primary btn__primary--full"> Shopping </a>
              </div>
           </section>
          <section class="about-content__hero">
            <img [src]="aboutHero" alt="About Us Img">
         </section>
        </div>
  </div>
</div>
