@import '../../../../../themes/styles/mixins';

.form {
  @include respond(tab-port){
    padding-bottom: var(--x-l-spacing);
  }
  &__group {
    display: flex;
    flex-direction: column;
    font-size: var(--text-2xl);
    margin-bottom: var(--xs-spacing);
  }
  &__label {
    margin-bottom: var(--3xs-spacing);
  }
  &__input {
    background-color: transparent;
    border-radius: var(--radius-strong);
    background-color: var(--bg-main);
    padding: .8rem 1.6rem;
    font-size: var(--text-xl);
    transition: all .2s;
    color: var(--grey-2);
    &:hover {
      transform: translateY(-1px);
      box-shadow: var(--box-shadow-light-small);
    }
  }
  &__btn {
   text-align: center;
   margin-top: var(--x-l-spacing);

   button {
    display: inline-block;
   }
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid var(--color-danger);
}

/* 🟢 Optional: green border when valid */
input.ng-valid.ng-touched {
  //border-color: green;
}
