 <form class="form" [formGroup]="shippingFields">
    <div class="form__group" *ngFor="let field of fromFields">
      <label class="form__label" for="fullName"> {{field.label}}</label>
      <input
        class="form__input"
        [formControlName]="field.formControlName"
        [placeholder]="field.placeHolder" />
    </div>
    <button
      class="form__btn btn btn__secondary btn__secondary--full"
      type="submit"
      [disabled]="shippingFields.invalid"
      (click)="onPlaceOrder()">
        Place you order
    </button>
</form>
