.form {
  &__group {
    display: flex;
    flex-direction: column;
    font-size: var(--text-2xl);
    margin-top: var(--md-spacing);
  }
  &__label {
    margin-bottom: var(--2xs-spacing);
  }
  &__input {
    background-color: transparent;
    border-radius: var(--radius-lg);
    background-color: var(--bg-main);
    padding: .5rem 1rem;
    font-size: 2rem;
    border: 2px solid rgb(237, 235, 235);;
  }
  &__btn {
    width: 100%;
    margin-top: var(--x-l-spacing) ;
    border-radius: var(--radius-lg);
  }
}
