 <form>
    <ion-item>
      <ion-input label="Full name" aria-placeholder="receiver full name" placeholder="Full name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Country" aria-placeholder="receiver country" placeholder="Country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Address" aria-placeholder="receiver address" placeholder="Address line"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="City" aria-placeholder="receiver city" placeholder="City"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Postal code" aria-placeholder="receiver postal code" placeholder="Postal code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Phone" aria-placeholder="receiver phone number" placeholder="Phone number"></ion-input>
    </ion-item>

    <ion-item class="checkout-btn" lines="none">
      <ion-button (click)="onPlaceOrder()">Place you order</ion-button>
    </ion-item>
</form>
