.products-list {
  background-color: var(--bg-secondary);
  width: 80%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__header {
    display: flex;
    justify-content: space-between;
    ion-icon {

    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &--item{
      display: flex;
    }
   .description {
      font-size: 1.4rem;
      display: flex;
      justify-content: space-between;

      &__details {
        display: flex;
        gap: 2rem;
        &--img{
          height: 10rem;
          width: 14rem;
          object-fit: cover;
          border-radius: 1rem;
        }
        &--title{
        }
      }
    }
  }
  &__pagination{
    text-align: right;
  }
}
