.products-list {
  display: flex;
  flex-direction: column;
  gap: var(--x-l-spacing);
  &__header {
    display: flex;
    justify-content: space-between;
    .header-btns{
       display: flex;
       gap: 2rem;
       ion-icon {
        font-size: (--text-4xl);
       }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .items-item{
      font-size: 1.4rem;
      display: flex;
      justify-content: space-between;
      &__details {
        display: flex;
        gap: 2rem;
        .details-img {
          height: 16rem;
          width: 24rem;
          object-fit: cover;
          border-radius: 1rem;
        }
        .details-title {

        }
      }
    }
  }
  &__pagination{
    text-align: right;
  }
}
