<div class="products-list">
    <div class="products-list__header">
      <p><span>45</span> Products </p>
      <div class="products-list__header--btns">
       <ion-button> <ion-icon name="grid-outline"></ion-icon></ion-button>
        <ion-button><ion-icon name="list-outline"></ion-icon></ion-button>
      </div>
    </div>

    <div class="products-list__items">
      <div class="products-list__items--item description" *ngFor="let item of products">
       <div class="description__details">
          <img class="description__details--img" src="{{item.image}}" alt="Product">
          <div class="description__details--title">
            <h3>{{item.name}}</h3>
            <p>{{item.description}}</p>
          </div>
       </div>
       <div  class="description__price">
         <span >{{item.price | currency}}</span>
       </div>
      </div>
    </div>
    <!-- Pagination section -->
    <div aria-label="Pagination Navigation" class="products-list__pagination">
        <ion-button>prev</ion-button>
        <ion-button>1</ion-button>
        <ion-button>2</ion-button>
        <ion-button>3</ion-button>
        <ion-button>4</ion-button>
        <ion-button>5</ion-button>
        <ion-button>6</ion-button>
        <ion-button>next</ion-button>
    </div>
  </div>
