<form [formGroup]="filterFormFields" class="filter">
  <!--Filter search section -->
  <section class="filter__search">
    <div class="search-input">
      <div lines="none">
        <ion-label color="empty" position="stacked">Search products</ion-label>
        <input formControlName="search" placeholder="Search product" />

      </div>
    </div>
    <div class="search-range">
      <div class="selected-price">
        <ion-label class="selected-price__title"> Select price </ion-label>
        <output class="selected-price__current-price"> ${{ priceValue() }} </output>
      </div>
      <ion-range formControlName="price" [min]="10" [max]="100000" [step]="100"></ion-range>
    </div>
  </section>
  <!-- Filter category section -->
  <section class="filter__category">
    <div class="category-options">
      <div >
        <ion-label color="empty" position="stacked"> Select category </ion-label>
        <select
          formControlName="category"
          label-placement="floating"
          >
          <option
            *ngFor="let item of metaData.categories; let index" >
            {{ item }}
          </option>
        </select>
      </div>
    </div>
    <div class="category--toggle">
      <ion-toggle formControlName="shipping" labelPlacement="stacked">Free shipping</ion-toggle>
    </div>
  </section>
  <!-- Filter company section -->
  <section class="filter__company">
    <div class="company-options">
      <div>
        <ion-label color="empty" position="stacked"> Select company </ion-label>
        <ion-select
        formControlName="company"
        [selectedText]="companyValue()"
        label-placement="floating"   [interfaceOptions]="customPopoverOptions" interface="popover">
          <ion-select-option
            *ngFor="let item of metaData.companies; let index" >
            {{ item }}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="filter__company--btn">
      <ion-button (click)="submitSearch()" > search btn</ion-button>
    </div>
  </section>
  <!-- Filter sort section -->
  <section class="filter__sort">
    <div class="sort-options">

      <div>
        <ion-label color="empty" position="stacked"> Sort by </ion-label>
        <ion-select
          formControlName="alphaSort"
          [selectedText]="sortValue()"
          label-placement="floating" [interfaceOptions]="customPopoverOptions" interface="popover">
          <ion-select-option
            *ngFor="let item of sortOptions; let index" >
            {{ item }}
          </ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="filter__sort--btn">
      <ion-button (click)="resetFilter()">reset</ion-button>
    </div>
  </section>
</form>
