@import '../../../../../themes/styles/mixins';

.filter {
  &__top-section {
    display: flex;
    gap: var(--x-l-spacing);
    margin-bottom: var(--x-l-spacing);
    @include respond(tab-port) {
      flex-direction: column;
    }
    .search-input {
      input {
        width: 100%;
        padding: .8rem 1.6rem;
        border-radius: var(--radius-strong);
        background-color: var(--bg-main);
        font-size: var(--text-xl);
        box-shadow: var(--box-shadow-light-small);
      }
    }

    .search-input,
    .category-options,
    .company-options,
    .sort-options  {
      flex: 1;
      ion-label {
        font-size: var(--text-3xl);
        font-weight: var(--font-bold);
        display: inline-block;
        margin-bottom: var(--xs-spacing);
      }
    }
  }
  &__bottom-section {
    display: flex;
    gap: var(--x-l-spacing);
    .price-range {
      flex: 1;
      &__label {
        display: flex;
        justify-content: space-between;

        ion-label {
          font-size: var(--text-3xl);
          font-weight: var(--font-bold);

        }
        output {
          font-size: var(--text-base);
          font-weight: var(--font-bold);
        }
      }
      ion-range {
        --bar-background: var(--bg-main);
        --bar-background-active: var(--color-tints);
        --bar-height: 2rem;
        --bar-border-radius: 2rem;
        --knob-background: var(--color-primary);
        --knob-size: 3rem;
        --knob-spacing: .6rem;
        --pin-background: var(--color-primary);
        padding-inline: 1rem;
        position: relative;
        &::before, &::after {
          position: absolute;
          bottom: -1rem;
          white-space: nowrap;
          font-size: var(--text-xs);
          font-weight: var(--font-bold);
          color: var(--text-muted);
        }
        &::before{
          content: "$10";
          left: 0;
          text-align: right;
        }
        &::after {
          content: "Max: 100000$";
          right: 0;
          text-align: right;
        }
      }
    }

    .search-btn,
    .reset-btn,
    .free-shipping {
      flex: 1;
      align-self: center;
      button {
        width: 100%;
      }
    }
    .free-shipping {
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-items: center;
     ion-label {
      font-size: var(--text-3xl);
      font-weight: var(--font-bold);
     }
     ion-label,
     ion-toggle {
      align-self: center;
     }

    ion-toggle {
      padding: var(--xs-spacing);
      --track-background: var(--color-tints);
      --track-background-checked: var(--color-primary);
      --handle-max-height: auto;
      transform: scale(0.8);
     }


    ion-toggle::part(handle) {
      background-color: var(--bg-main);
    }

     @include respond(tab-port){
       width: 100%;
       flex-direction: row;
       justify-content: space-between;
       ion-toggle {
         transform: scale(0.7);
       }
     }
    }
    @include respond(tab-port) {
      flex-direction: column;
      .search-btn,
      .reset-btn {
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
  }
}
