<form [formGroup]="filterFormFields" class="filter">
  <!--Filter search section -->
  <div class="filter__search">
    <div class="filter__search--input">
      <p>search products</p>
      <ion-item>
        <ion-input
          formControlName="search" placeholder="Search product" >
        </ion-input>
      </ion-item>
    </div>
    <div class="filter__search--range">
      <div class="selected-price">
        <div class="selected-price__title">select price </div>
        <div class="selected-price__current-price">${{ priceValue() }}</div>
      </div>
      <ion-range formControlName="price"></ion-range>
    </div>
  </div>
  <!-- Filter category section -->
  <div class="filter__category">
    <div class="filter__category--options">
      <p> select category</p>
      <ion-item>
        <ion-select
          formControlName="category"
          [selectedText]="categoryValue()"
          label-placement="floating"
          [interfaceOptions]="customPopoverOptions" interface="popover">
          <ion-select-option
            *ngFor="let item of categoryOptions; let index" >
            {{ item }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="filter__category--toggle">
      <ion-toggle formControlName="shipping" labelPlacement="stacked">Free shipping</ion-toggle>
    </div>
  </div>
  <!-- Filter company section -->
  <div class="filter__company">
    <div class="filter__company--options">
      <p>select company</p>
      <ion-item>
        <ion-select
        formControlName="company"
        [selectedText]="companyValue()"
        label-placement="floating"   [interfaceOptions]="customPopoverOptions" interface="popover">
          <ion-select-option
            *ngFor="let item of companyOptions; let index" >
            {{ item }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="filter__company--btn">
      <ion-button (click)="submitSearch()" > search btn</ion-button>
    </div>
  </div>
  <!-- Filter sort section -->
  <div class="filter__sort">
    <div class="filter__sort--options">
      <p>sort by</p>
        <ion-item>
          <ion-select
            formControlName="sortBy"
            [selectedText]="sortValue()"
            label-placement="floating" [interfaceOptions]="customPopoverOptions" interface="popover">
            <ion-select-option
              *ngFor="let item of sortOptions; let index" >
              {{ item }}
            </ion-select-option>
          </ion-select>
        </ion-item>
    </div>
    <div class="filter__sort--btn">
      <ion-button (click)="resetFilter()">reset</ion-button>
    </div>
  </div>
</form>
