.filter {
  background-color: var(--bg-secondary);
  width: 80%;
  border-radius: 2rem;
  padding: 2rem;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
  &__search{
    flex: 1;
    &--input {
      input {
        width: 100%;
      }
    }
  }
  &__category{
    flex: 1;
    &--options{
      display: flex;
      gap: .5rem;
      flex-direction: column;
      width: 100%;
    }
  }
  &__company{
    flex: 1;
    &--options{
      display: flex;
      gap: .5rem;
      flex-direction: column;
      width: 100%;
    }
    &--btn {

    }
  }

  &__sort{
    flex: 1;
    &--options{
      display: flex;
      gap: .5rem;
      flex-direction: column;
      width: 100%;
    }
    &--btn{

    }
  }
}
