header {
  position: fixed;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: var(--bg-main);
  .header-auth{
    display: flex;
    justify-content: right;

    gap: var(--l-spacing);
    &__login {
      cursor: pointer;
      padding: 1rem 1.5rem;
      a {
        font-size: var(--text-sm);
      }
    }

    &__register {
      cursor: pointer;
      padding: 1rem 1.5rem;
      a {
        font-size: var(--text-sm);
      }
    }
    &__modal{
      position: absolute;
      height: 100vh;
      width: 100%;
      z-index: 3;
      display: flex;
      .auth-modal--content {
       margin: auto;
       backdrop-filter: blur(20px);
       background-color: rgba(250, 250, 250, 0.4);
       height: 80%;
       width: 80%;
       border-radius: 2rem;
       padding: 2rem;
       // Soft glass-style shadow
       box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.2),   // main soft shadow
        0 2px 6px rgba(0, 0, 0, 0.1);
          }
    }
  }
  .header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    &__logo{
      padding: .2rem .4rem;
      border-radius: .2rem;
      font-weight: var(--font-bold);
      font-size: var(--text-2xl);
      color: var(--text-color-base);
    }
    &__links{
      display: flex;
      justify-content: space-between;
      .navbar-item:not(:first-child) a {
        margin-left: var(--l-spacing);
      }
      .navbar-item {
        width: 100%;
        flex: 1;
        list-style: none;
        &__link  {
          font-size: var(--text-2xl);
          color: var(--text-color-base);
          &--inactive{
            background-color: var(--bg-secondary);
            padding: 1rem 1.5rem;
            border-radius: 1.5rem;
          }
          &--active{
            background-color: var(--color-tints);
          }
        }
      }

    }
    &__cart {
      position: relative;
      padding: .5rem;
      ion-badge{
        position: absolute;
        top: -5%;
        right: 10%;
        background-color: var(--color-primary);
        font-size: var(--text-xs);
        border-radius: .5rem;
        padding: 4px 6px;
        color: var(--bg-main);
        z-index: 1;
      }
      ion-icon {
        font-size: var(--text-4xl);
      }
    }
  }
}

