<header>
  <nav class="app-navbar">
    <a routerLink="/" class="app-navbar__logo">Housori</a>
    <ul class="app-navbar__links">
      <li class="app-navbar__links--item">
        <a class="nav-link__inactive" routerLink="/home"
          routerLinkActive="nav-link__active"
          [routerLinkActiveOptions]="{ exact: true }">
            Home
        </a>
      </li>
      <li class="app-navbar__links--item" ><a  class="nav-link__inactive" routerLink="/about" routerLinkActive="nav-link__active">About</a></li>
      <li class="app-navbar__links--item"><a class="nav-link__inactive" routerLink="/products" routerLinkActive="nav-link__active">Products</a></li>
       <li class="app-navbar__links--item"><a class="nav-link__inactive" routerLink="/orders" routerLinkActive="nav-link__active">Orders</a></li>
    </ul>
    <a routerLink="/cart" class="app-navbar__cart"  class="nav-link__inactive" routerLinkActive="nav-link__active">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#000000"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 17h-11v-14h-2" />
        <path d="M6 5l14 1l-1 7h-13" />
      </svg>
    </a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

