<header>
  <nav class="app-navbar">
    <a routerLink="/" class="app-navbar__logo">Housori</a>
    <ul class="app-navbar__links">
      <li class="app-navbar__links--item">
        <a class="nav-link__inactive" routerLink="/home"
          routerLinkActive="nav-link__active"
          [routerLinkActiveOptions]="{ exact: true }">
            Home
        </a>
      </li>
      <li class="app-navbar__links--item" ><a  class="nav-link__inactive" routerLink="/about" routerLinkActive="nav-link__active">About</a></li>
      <li class="app-navbar__links--item"><a class="nav-link__inactive" routerLink="/products" routerLinkActive="nav-link__active">Products</a></li>
      <li class="app-navbar__links--item"><a class="nav-link__inactive" routerLink="/orders" routerLinkActive="nav-link__active">Orders</a></li>
      <li class="app-navbar__links--item"><a class="nav-link__inactive" routerLink="/checkout" routerLinkActive="nav-link__active">Checkout</a></li>
    </ul>
    <a routerLink="/cart" class="app-navbar__cart"  class="nav-link__inactive" routerLinkActive="nav-link__active">
      <ion-tab-button tab="3">
        <ion-badge color="danger">47</ion-badge>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-tab-button>
    </a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

