<header>
  <section class="header-auth">
    <ng-container *ngIf="showAuthBar">
      <div class="header-auth__login" (click)="onSignUp()">
        <a>Sign in</a> / <a> Guest</a>
      </div>
      <div (click)="onRegister()" class="header-auth__register">
        <a> Create Account</a>
      </div>
    </ng-container>
  </section>
  <nav class="header-navbar">
    <a routerLink="/" class="header-navbar__logo" (click)="onMenu()">
      <ion-icon name="menu"></ion-icon>
      <span>Housori </span>
    </a>
    <ul class="header-navbar__links">
      <li class="navbar-item" *ngFor="let link of navLinks">
        <a
          class="navbar-item__link navbar-item__link--inactive"
          [routerLink]="link.path"
          routerLinkActive="navbar-item__link--active"
          [routerLinkActiveOptions]="{ exact: link.exact || false }"
        >
          {{ link.label }}
        </a>
      </li>
    </ul>
    <div routerLink="/cart"  class="header-navbar__cart navbar-item__link--inactive">
      <ion-badge color="primary">{{ numItemInCart }}</ion-badge>
      <ion-icon name="cart-outline"></ion-icon>
    </div>
  </nav>
</header>
<app-sidebar *ngIf="openMenu()"></app-sidebar>
<router-outlet></router-outlet>

