<div class="summary">
    <section class="summary__orders">
      <h2 class="heading-secondary">Order Summary</h2>
      <div class="summary__items">
        <app-summary-item  *ngFor="let item of getItems" [item]="item"></app-summary-item>
      </div>
      <div class="summary__total">
        <app-order-total [pageName]="'payment'" [totalDetails]="getTotalDetails"></app-order-total>
      </div>
  </section>
  <section class="summary__shipping">
    <h2 class="heading-secondary">Shipping Information</h2>
    <div>
      <dl class="summary__shipping-recipient">
        <dt> Recipient </dt>
        <dd> {{ fullName }}</dd>
      </dl>
      <dl class="summary__shipping-address">
        <dt>Address</dt>
        <div>
          <dd> {{ addressLine }}</dd>
          <dd> {{ cityCountry }}</dd>
        </div>
        </dl>
    </div>
  </section>
</div>
