@import '../../../../../themes/styles/mixins';

.summary{
  display: flex;
  flex-direction: column;
  &__items {
    max-height: 30rem;
    overflow: auto;
    @include respond(tab-port){
      max-height: unset;
    }
  }
  &__shipping {
    margin-top: var(--x-l-spacing);
    font-size: var(--text-2xl);
  }
  &__shipping-recipient{
    display: flex;
    gap: var(--sm-spacing);
    margin-bottom: var(--sm-spacing);
  }
  &__total {
     margin-top: var(--sm-spacing);
  }
  &__shipping-address{
    display: flex;
    gap: var(--sm-spacing);
    div {
      flex: 1;
      dd:first-child {
        margin-bottom: var(--xs-spacing);
      }
    }
  }
}

