/* You can add global styles to this file, and also import other style files */
@import './themes/styles/typography.scss';
@import './themes/styles/colors.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  // Percentage for user's browser font-size setting
  font-size: 62.5%; // 10 / 16 = 0.625 * 100;

  body {
    font-family: var(--font-base);
    color: var(--text-color-base);
    background-color: var(--bg-main);
    line-height: 1;
  }

  a,
  a:link,
  a:visited,
  a:active{
    text-decoration: none;
    color: var(--text-main);
    cursor: pointer;
  }

  select, input {
    border: none;;
    outline: none;
  }

  ion-item {
    --background: transparent;
  }
}


