<form [formGroup]="authFormFields" class="form">
  <ion-item *ngIf="!isLogin">
    <ion-input formControlName="firstName" label="First name"></ion-input>
  </ion-item>
   <ion-item *ngIf="!isLogin">
    <ion-input formControlName="lastName" label="Last name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input formControlName="email" type="email" label="Your email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input  [class.input-error]="passwordsMismatch && !isLogin"  formControlName="password" type="password" label="Password"></ion-input>
  </ion-item>
  <ion-item *ngIf="!isLogin">
    <ion-input   [class.input-error]="passwordsMismatch && !isLogin" formControlName="passwordConfirm" type="password" label="Confirm password"></ion-input>
  </ion-item>
</form>




