<form [formGroup]="authFormFields" class="form">
  <div *ngFor="let field of formInputData">
    <!-- show only if allowed (always true OR !isLogin) -->
    <div class="form__group" *ngIf="field.showIfLogin || !isLogin">
      <label [for]="field.name" class="form__label">{{ field.label }}</label>
      <input
        [id]="field.name"
        [placeholder]="field.placeholder"
        [type]="field.type"
        [formControlName]="field.name"
        class="form__input"
        [class.input-error]="
          field.name === 'passwordConfirm' && passwordsMismatch && !isLogin
        "
      />
    </div>
  </div>
</form>
