.form {
}

:host {
  // stretch to take up 100% of the width of its parent container
  width: 100%;
}

.input-error {
  color: red;          // text color
  border-color: red;   // optional: red border for better visibility
}
