@import '../../../themes/styles/mixins';

.products {
  &__container {
    padding-top: 14rem;
   .products-content {
      @include page-layout();
      padding: 0;
      &__filter {
        padding: var(--x-l-spacing) var(--x-l-spacing) 0 var(--x-l-spacing);

        @include respond(phone) {
          padding: var(--sm-spacing) var(--sm-spacing) 0 var(--sm-spacing);
        }
      }
      &__list {

      }
    }
  }
}
