@import '../../../themes/styles/mixins';

.products {
  &__container {
    padding-top: 14rem;
   .products-content {
      @include page-layout();
      padding: 0;
      .filter {
        padding: 4rem;
        @include respond(phone) {
          padding: var(--sm-spacing);
        }
      }
      &:first-child section {
        margin-top: var(--x-l-spacing);
        @include respond(phone) {
         margin-top: var(--sm-spacing);
        }
      }
    }
  }
}
