@import '../../../themes/styles/mixins';

.cart {
  &__container {
    padding-top: 14rem;
  }
  &__content {
    @include page-layout();
    display: flex;
    flex-direction: column;
  }
  &__body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--x-l-spacing);
    @include respond(tab-port) {
      grid-template-columns: 1fr
    }
  }
  &__items-nb {
    border-bottom: .2rem solid var(--color-primary);
    padding-bottom: var(--2xs-spacing);
  }
  &__item {
    margin-top: var(--x-l-spacing);
  }

  &__place-holder {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 35%;
    top: 60%;
  }
}

