@import '../../../../../themes//styles/mixins';

.list-header {
  display: flex;
  text-transform: uppercase;
  border-bottom: 1px solid var(--grey-5);
  gap: var(--x-l-spacing);
  &__description{
    flex: .5;
  }
  &__metadata {
    flex: .5;
    display: flex;
    margin-bottom: var(--2xs-spacing);
  }
  span {
    font-size: var(--text-base);
    color: var(--grey-1);
  }

  &__qty,
  &__unit-price ,
  &__amount,
  &__date {
    text-align: right;
    flex: 1;
  }

  @include respond(tab-port) {
    display: none;
  }
}
