
.payment-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__container{
    backdrop-filter: blur(20px);
    background-color: rgba(192, 192, 192, 0.4);
    // Soft glass-style shadow
    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.2),   // main soft shadow
        0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 4rem 4rem;
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    gap: 6rem;
    &--form {

      flex: .5;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .payment-submit-btn{
        ion-button {
          width: 100%;
        }
      }
    }
    .billing {
      &__methods {
        display: flex;
        justify-content: space-between;
        &--secure {
          display: flex;
          gap: 2px;
          ion-icon {
            align-self: center;
          }
        }
      }
    }
    &--summary{
      flex: .5;
    }

  }
}
