<div class="checkout">
  <div class="checkout__container">
    <div class="checkout__content">
      <section class="checkout__header" >
        Place your order
      </section>
      <section class="checkout__shipping-info">
        <div class="shipping-address">
          <h3>Shipping information</h3>
          <app-shipping-address-form></app-shipping-address-form>
          <app-payment *ngIf="orderIsPlaced()" ></app-payment>
        </div>
        <div>
          <app-order-total [totalDetails]="totalDetails()"></app-order-total>
        </div>
      </section>
    </div>
  </div>
</div>

