@import '../../../themes/styles/mixins';

.checkout {
  &__container {
    padding-top: 10rem;
    .checkout-content {
      @include page-layout();
      display: flex;
      gap: 2rem;
      &>section {
        flex: 1;
      }
      &__shipping-info {
        display: flex;
        gap: 2rem;
        .shipping-address {
          background-color: red;
        }
      }
    }
  }
}
