@import '../../../../../themes/styles/mixins';
@mixin pseudoStyle() {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--grey-3);
  transform: translate(-50%, -50%);
  transform-origin: center center;
  box-shadow: -2px 4px 2px rgba(0,0,0, 0.05);
  transition: all .2s ease ;
}
.cart-item {
  display: grid;
  grid-template-columns: 6fr 3fr 3fr;

  gap: var(--sm-spacing);
  @include respond(tab-port) {
    gap: var(--2xs-spacing);
  }
  &__figure {
    display: flex;
    gap: var(--sm-spacing);
    margin: 0;
    img {
      width: 16rem;
      height: 10rem;
      border-radius: 1rem;
      @include respond(phone) {
        height: 10rem;
        width: 12rem;
      }
    }
    figCaption {

      .product-name {
        font-weight: var(--font-medium);
        color: var(--grey-2);
        margin-bottom: var(--xs-spacing);
        font-size: var(--text-xl);
      }

      .product-company {
        font-size: var(--text-lg);
      }
    }
  }


  &__adjust-btns {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: var(--sm-spacing);
    gap: var(--sm-spacing);
  }
  &__plus,
  &__minus {
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    align-self: center;
  }
  &__nb {
    font-size: var(--text-xl);
    align-self: center;
    @include respond(phone) {
      font-size: var(--text-sm);
    }
  }
  &__plus {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;

    &::before,
    &::after {
      @include pseudoStyle();
    }

    &::before {
      width: 100%;   // horizontal bar
      height: 0.4rem;
    }

    &::after {
      width: 0.4rem; // vertical bar
      height: 100%;
    }

    &:hover::after,
    &:hover::before{
      transform: translate(-50%, -50%) scale(1.2);
    }

    &:active::after,
    &:active::before{
      transform: translate(-50%, -50%) scale(.9);
      background-color: var(--color-primary-tints);
    }

    @include respond(phone) {
      width: 1rem;
      height: 1rem;
      &::before {
        height: 0.3rem;
      }
      &::after {
        width: 0.3rem; // vertical bar
      }
    }
  }

  &__minus {
    height: 1.5rem;
    width: 1.5rem;
    &::after {
      @include pseudoStyle();
      width: 100%;   // horizontal bar
      height: 0.4rem;
    }

    &:hover::after {
      transform: translate(-50%, -50%) scale(1.2);
    }
    &:active::after {
      transform: translate(-50%, -50%) scale(0.95);
    }
    @include respond(phone) {
      width: 1rem;
      height: 1rem;
    }
  }
  &__title{
    text-align: center;
    font-size: var(--text-xl);
  }
  &__remove {
    border: none;
    margin-top: var(--sm-spacing);
    text-align: center;
    button {
      border: none;
      background-color: transparent;
      color: var(--color-danger-tints);
      transition: all .2s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
         transform: scale(0.9);
      }
    }
  }
  &__price {
    font-size: var(--text-xl);
    text-align: right;
    @include respond(tab-port) {
      font-size: var(--text-sm);
    }
  }
}
